<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
    <!-- File-Integrity-Scanner -->
    <logger name="org.pwss.file_integrity_scanner" level="INFO"/>
    <!-- Configure specific packages from dependencies -->
    <logger name="org.pwss.io_file" level="DEBUG"/>
    <logger name="lib.pwss.hash.file_hash_handler" level="ERROR"/>
    <logger name="org.pwss.util" level="DEBUG"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.postgresql" level="ERROR"/>
     <!-- Configure specific packages from Spring -->
     <logger name="org.springframework" level="ERROR"/>
</configuration>
